flask==3.0.3
gunicorn==22.0.0
setuptools
opentelemetry-distro==0.47b0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-instrumentation-flask==0.47b0
opentelemetry-instrumentation-requests==0.47b0
